.App
{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logoImg
{
  height: 34px;
  width: 34px;
  float: left;
}

.coinImg
{
  height: 24px;
  width: 24px;
}

.profit
{
  color: green;
}

.loss
{
  color: red;
}

.coinWrapper
{
  margin-top: 5%;
  height: 80%;
  width: 100%;
  overflow: hidden;
}